# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle
build
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea
*.iml
out
gen
.intellijPlatform
.kotlin
